.filtros {
    display: flex;
    gap: 12px;
}

.filtro-btn {
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid #2a2a2a;
    background-color: transparent;
    color: #e5e2e1;
    cursor: pointer;
    font-size: 0.9rem;
}

.ativo {
    background-color: #10B981;
}